@import "tailwindcss";

:root {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-card-dark: #1a2234;
  --color-border-dark: #324467;
}

@theme {
  --font-display: 'Manrope', sans-serif;
  --font-sans: 'Manrope', sans-serif;

  --color-primary: var(--color-primary);
  --color-background-light: var(--color-background-light);
  --color-background-dark: var(--color-background-dark);
  --color-card-dark: var(--color-card-dark);
  --color-border-dark: var(--color-border-dark);
}

body {
  font-family: "Manrope", sans-serif;
  @apply bg-background-light text-slate-900;
}

/* NProgress Customization */
#nprogress .bar {
  background: #2563eb !important; /* blue-600 */
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2563eb, 0 0 5px #2563eb !important;
}

#nprogress .spinner-icon {
  border-top-color: #2563eb !important;
  border-left-color: #2563eb !important;
}

/* Remove number input spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
